/* linkBtn & btn */

.btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 2.4rem;
  text-align: center;
  display: inline-block;
}

.btn--red {
  color: white;
  background-color: orangered;
}

.btn--blue {
  color: white;
  background-color: cornflowerblue;
}
