@import "../../sass//variable.scss";

$color-font-main: #291109;

@keyframes cloudAppear {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.main {
  &__errorImg {
    margin-top: 10rem;
    width: 50rem;

    @media only screen and (max-width: $rwd-large) {
      margin-top: 0rem;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transform: translateX(8%);
    }
  }

  &__searchList {
    // grid-template-columns: 1fr !important;
  }

  &__spotPage {
    padding-top: 22rem;
    text-align: center;

    @media only screen and (max-width: $rwd-medium) {
      padding-top: 35rem;
    }

    @media only screen and (max-width: $rwd-small) {
      padding-top: 45rem;
    }

    h3 {
      margin-bottom: 4.9rem;
      font-size: 4rem;
      line-height: 5.6rem;
      font-family: inherit;

      /* identical to box height */
      text-align: center;

      color: $color-font-main;

      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    }

    &--cloudBig {
      width: 47.1rem;
      height: 27.8rem;
      top: 22%;
      right: 0%;
      position: absolute;
      z-index: -1;
    }

    &--cloudSmall {
      width: 26.1rem;
      height: 15.4rem;
      top: 8%;
      left: 2%;
      position: absolute;
      z-index: -1;
    }

    p {
      margin-top: 8rem;
      font-size: 2rem;
    }
  }

  &__pageBtnBar {
    display: flex;
    justify-content: center;
  }

  &__homePage {
    position: relative;
    // overflow: hidden;
    padding-top: 28.54rem;
    display: grid;
    justify-items: center;

    &--spot,
    &--activity,
    &--restaurant,
    &--hotel,
    &--local {
      width: 100%;
    }

    @media only screen and (max-width: $rwd-medium) {
      padding-top: 35rem;
    }

    @media only screen and (max-width: $rwd-small) {
      padding-top: 45rem;
    }

    &--container {
      margin: 0 auto;
    }

    &-cloud {
      position: absolute;
      z-index: -1;
      animation: cloudAppear 1s;
      transition: transform 1s;

      @media only screen and (max-width: $rwd-medium) {
        transform: scale(0.8);
      }

      @media only screen and (max-width: $rwd-smallest) {
        transform: scale(0.5);
      }

      &--B_top {
        width: 65.1rem;
        height: 38.4rem;
        top: 9%;
        left: 0%;

        @media only screen and (max-width: $rwd-small) {
          transform: scale(0.5);
          top: 10%;
        }
      }

      &--S_top {
        width: 26.1rem;
        height: 15.4rem;
        top: 2.5%;
        right: 10%;
      }

      &--B_2nd {
        width: 54.6rem;
        height: 32.2rem;
        top: 28%;
        right: 0%;
      }

      &--S_2nd {
        width: 30.3rem;
        height: 17.9rem;
        top: 33%;
        left: 0%;
      }

      &--S_mid {
        width: 30.3rem;
        height: 17.9rem;
        top: 48%;
        left: 67%;

        @media only screen and (max-width: $rwd-small) {
          left: 50%;
        }
      }

      &--B_3rd {
        width: 30.3rem;
        height: 17.9rem;
        top: 72%;
        left: 5%;
      }

      &--S_3rd {
        width: 20.6rem;
        height: 12.2rem;
        top: 74%;
        left: 15%;
      }

      &--B_last-L {
        width: 53.1rem;
        height: 31.3rem;

        top: 84%;
        left: 0%;

        @media only screen and (max-width: $rwd-small) {
          transform: scale(0.5);
          top: 85%;
        }
      }

      &--B_last-R {
        width: 53.4rem;
        height: 31.5rem;
        top: 94%;
        right: 0%;

        @media only screen and (max-width: $rwd-small) {
          transform: scale(0.5);
          top: 97%;
        }
      }
    }

    &-bookman {
      width: 35.4rem;
      height: 63.1rem;
      position: absolute;
      z-index: -1;
      transform: rotateZ(-5deg);
      top: 49%;
      left: 5%;

      @media only screen and (max-width: $rwd-small) {
        transform: rotateZ(0deg) scale(0.7);
      }

      @media only screen and (max-width: $rwd-smallest) {
        transform: rotateZ(-5deg) scale(0);
      }
    }

    &-flagman {
      width: 32rem;
      height: 56.9rem;
      position: absolute;
      z-index: -1;
      transform: rotateZ(15deg);
      top: 6%;
      right: 10%;

      @media only screen and (max-width: $rwd-small) {
        transform: rotateZ(10deg) scale(0.7);
        top: 7.5%;
        right: 10%;
      }

      @media only screen and (max-width: $rwd-smallest) {
      }
    }

    &-boat {
      position: absolute;
      z-index: -1;

      top: 87%;
      right: 0%;

      @media only screen and (max-width: $rwd-small) {
        top: 88%;
        transform: scale(0.6);
      }

      @media only screen and (max-width: $rwd-smallest) {
        top: 85%;
        transform: scale(0.5);
      }
    }

    &--title {
      width: 51rem;
      height: 11.5rem;
      margin-bottom: 4rem;
    }

    h3 {
      color: $color-font-main;
      font-size: 2.4rem;
      font-weight: 400;
      margin-bottom: 3.6rem;
    }

    h2 {
      display: inline-block;
      color: $color-font-main;
      font-size: 3.4rem;
      font-weight: 400;
      margin: 32rem 0 6.2rem 0;
    }

    button {
      margin: 0 auto;
    }

    &--hotel {
      margin-top: 9.4rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(27.8rem, 1fr));
      grid-gap: 2.8rem;
      text-align: center;

      // display: flex;
      // justify-content: space-evenly;

      &-card {
        justify-self: center;
        width: 27.8rem;
        height: 29.1rem;
        background: linear-gradient(180deg, rgba(239, 239, 239, 0) 0%, rgba(206, 206, 206, 0.2) 100%), #ffffff;
        box-shadow: 8px 48px 35px -13px rgba(0, 0, 0, 0.25), inset -4px -4px 3px -2px rgba(0, 0, 0, 0.25);
        border-radius: 50px;

        img {
          width: 11rem;
          height: 11rem;
          margin: 6rem 8.4rem 3.42rem 8.4rem;
        }
        p {
          color: $color-font-main;
          font-weight: 500;
          font-size: 2rem;
          line-height: 2.8rem;
          flex: 0 10 100%;
        }
      }
    }

    &--local {
      margin-top: 9.4rem;
      margin-bottom: 21.1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
      grid-gap: 2.8rem;
      text-align: center;

      &-card {
        justify-self: center;
        width: 44.5rem;
        height: 44.6rem;
        background: linear-gradient(180deg, rgba(239, 239, 239, 0) 0%, rgba(206, 206, 206, 0.2) 100%), #ffffff;
        box-shadow: 8px 48px 35px -13px rgba(0, 0, 0, 0.25), inset -4px -4px 3px -2px rgba(0, 0, 0, 0.25);
        border-radius: 50px;

        p {
          font-weight: 500;
          font-size: 2.4rem;
          line-height: 3.4rem;
          color: $color-font-main;
        }
      }

      &-bikeImg {
        width: 23.9rem;
        height: 28.3rem;
        margin: 6.7rem 10.37rem 2.736rem 10.3rem;
      }

      &-busImg {
        width: 39.9rem;
        height: 35rem;
        margin-left: 4.6rem;
        margin-bottom: 2.71rem;
      }
    }
  }

  &__detail {
    &--cloudBig {
      height: 25.2rem;
      position: absolute;
      top: 13%;
      left: 0%;
      z-index: 2;

      @media only screen and (max-width: $rwd-largest) {
        transform: scale(0.9);
        top: 10%;
      }

      @media only screen and (max-width: $rwd-large) {
        transform: scale(0.8);
        top: 11%;
      }
      @media only screen and (max-width: $rwd-medium) {
        transform: translateX(-15%) scale(0.7);
        top: 8.5%;
      }

      @media only screen and (max-width: $rwd-small) {
        transform: translateX(-20%) scale(0.5);
        top: 5%;
      }

      // @media only screen and (max-width: $rwd-smallest) {
      //   top: 36%;
      // }
    }

    &--cloudSmall {
      width: 30.3rem;
      height: 17.9rem;
      position: absolute;
      top: 0%;
      right: 0%;
      z-index: 2;

      @media only screen and (max-width: $rwd-largest) {
        transform: scale(0.9);
      }

      @media only screen and (max-width: $rwd-large) {
        transform: scale(0.8);
      }
      @media only screen and (max-width: $rwd-medium) {
        transform: scale(0.7);
      }

      @media only screen and (max-width: $rwd-small) {
        transform: scale(0.6);
      }
    }
  }
}
